.form__item {
  color: #000000;
  font-family: inherit;
  border: 0;
  padding: 16px 0 16px 16px;
  margin: 0 0 19px 0;
  width: 100%;
  box-sizing: border-box;
}

.form__item::-webkit-input-placeholder {color: #000000;}
.form__item::-moz-placeholder          {color: #000000;}
.form__item::-ms-input-placeholder     {color: #000000;}
.form__item::placeholder               {color: #000000;} 