.video__iframe {
  width: 100%;
  min-height: 625px;
  border: none;
  margin: 0;
  padding: 0;
  object-fit: contain;
  display: block;
}

@media (max-width: 767px) {
  .video__iframe {
    min-height: 440px;
  }
}

@media (max-width: 425px) {
  .video__iframe {
    min-height: 425px;
  }
}