.header__complaint-link {
  color: black;
  text-decoration: none;
  transition: 0.4s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
}

.header__complaint-link:hover {
  opacity: 0.7;
}