.form__image {
  width: 100%;
  min-height: 640px; 
  object-fit: cover; 
}

@media (max-width: 1023px) {
  .form__image {
    min-height: 540px;
  }
}

@media (max-width: 768px) {
  .form__image {
    display: none;
  }
}
